// Parameters for testing id_species.nf
params {
    output = 'abaumannii_test.tsv'
    readsdir = 'results/id_species'
    se_reads = 'https://github.com/samlhao/nextflow-spid/testdata/se_data/*.fastq.gz'
    pe_reads = 'https://github.com/samlhao/nextflow-spid/testdata/pe_data/*_{1,2}.fastq.gz'
    assemblies = 'https://github.com/samlhao/nextflow-spid/testdata/assemblies/*.fasta'
    outdir = 'results/id_species/'
}
