// Parameters for testing id_species.nf
params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    // Limit resources so that this can run on Travis
    max_cpus = 8
    max_memory = 6.GB
    max_time = 48.h

    output = 'abaumannii_test.tsv'
    readsdir = 'results/id_species'
    se_reads = 'testdata/se_data/*.fastq.gz'
    pe_reads = 'testdata/pe_data/*_{1,2}.fastq.gz'
    assemblies = 'testdata/assemblies/*.fasta'
    outdir = 'results/id_species/'
}
